---
import BaseLayout from '../../layouts/BaseLayout.astro';

const pageTitle = "Masaje bienestar";
---
<BaseLayout pageTitle={pageTitle}>
    <div class="servicio-header">
        <span><a href="/services">Volver a servicios</a></span>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-2 gap-4">
        <img class="my-4" src="/dia-del-padre.jpg" alt="Flyer sibre masaje de bienestar"/>
        <img class="my-4" src="/Experiencia_bienestar_parejas.jpg"  alt="Flyer sobre experiencia de bienestar para parejas">
    </div>

</BaseLayout>

<style>
    .servicio-header {
        text-align: right;
        & a {
            text-decoration: underline;
        }
    }
</style>