html {
  /* background-color: #f1f5f9; */
  font-family: sans-serif;
}

html.dark {
  background-color: #262424;
  color: #fff;
}

.dark .nav-links a {
  color: #fff;
}

.dark .hamburger .line {
  background-color: #fff;
}
.dark body {
  background-color: #262424;
}

body {
  margin: 0 auto !important;
  width: 100%;
  max-width: 120ch;
  padding: 1rem;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

#logo .darktheme {
 display: none;
}

.dark #logo .darktheme {
  display: inline;
}
.dark #logo .lighttheme {
  display: none;
}


h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}


/* estilos de la barra de navegación*/
.hamburger {
  padding-right: 20px;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 20px;
  height: 4px;
  margin-bottom: 3px;
  background-color: #000;
  border-radius: 3px;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* .navbar-icons-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
} */
.nav-links {
  width: 100%;
  top: 5rem;
  left: 48px;
  /* background-color: #3495cde9; */
  display: none;
  margin: 0;
}

.nav-links a {
  display: block;
  text-align: left;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;


}

.nav-links a:hover {
  background-color: orange;
}

.expanded {
  display: unset;
  /* background-color: #ededed; */
}

@media screen and (min-width: 636px) {

  .nav-container {
    flex-direction: row;
  }
  .nav-links {
    /* margin: 0 auto; */
    display: block;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 5px;
  }

  .hamburger {
    display: none;
  }
  .navbar-icons-row {
    justify-content: end;
  }
}

