---
import BaseLayout from '../layouts/BaseLayout.astro';
import Hero from '../components/Hero.astro';
import CardsFeatures from '../components/CardsFeatures.astro';
import Contact from '../components/Contact.astro'
import Service from '../components/Service';

const services =[
  {name: "Un poco de mi", description: "Conoce quien soy, mi historia y lo que me gusta hacer.", url:'/sobre-mi'},
  {name: "Mis servicios", description: "Explora todos los servicios que tengo para ofrecer.", url:'/servicios'},
  {name: "Cómo contactarme", description: "Te invito a escribirme para descubrir cómo colaborar juntos.", url:'/contacto'},
]

const pageTitle = "J.lonuz | Bienvenido a mi sitio web";
---
<BaseLayout pageTitle={pageTitle}>
  <Hero/>
  <section  data-aos="slide-up" data-aos-duration="3000">
    <h2 id="servicios" class="text-3xl font-bold m-8 text-center font-mono">Qué vas a encontrar aquí</h2>
    <div class="grid gap-4 grid-cols-1 md:grid-cols-3 lg:grid-cols-3">
      {
        services.map(service => (
          <Service service={service}/>
          )
        )
      }
    </div>

  </section>
  <!-- <Contact/> -->
</BaseLayout>
<style>

  </style>
