---
import BaseLayout from '../layouts/BaseLayout.astro';

import CardsFeatures from '../components/CardsFeatures.astro';
const pageTitle = '';
---

<BaseLayout pageTitle={pageTitle}>
    <h2 id="servicios" class="text-3xl font-bold m-8 text-center font-mono">Talentos al servicio</h2>
    <CardsFeatures/>
</BaseLayout>