---
import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/ui/card"

const services =[
  // "Web developer",
  "Video maker",
  // "Kandyan dancer",
  "Drawing artist",
  "Wellness massage",
  // "Photographer amateur",
  // "The voice of the Utero instructor",
  // "Musician",
  // "Acordeonist"
]

const { title, url } = Astro.props;

---

<div class="grid gap-4 md:grid-cols-2 lg:grid-cols-3">
  {
    services.map(service => (
      // si service tiene espacio, reemplazarlos por un guión para la url /services/${service.replace(/\s/g, '-')
      <a href={`/services/${service.replace(/\s/g, '-').toLocaleLowerCase() }`}>
        <Card>
          <CardHeader>
            <CardTitle>{service}</CardTitle>
            <CardDescription></CardDescription>
          </CardHeader>
          <CardContent>
            <p>Card Content</p>
          </CardContent>
          <CardFooter>
            <p>Card Footer</p>
          </CardFooter>
        </Card>
      </a>
      )
    )
  }

</div>
<!-- hsl(222.2deg 6.2% 18.96%) -->