<div class="navbar-icons-row">
    <div id="logo">
        <a href="/">
            <img class="darktheme" src="/logo_invert.png" width="100px"/>
        </a>
        <a href="/">
            <img class="lighttheme" src="/logo.png" width="100px"/>
        </a>
    </div>
</div>