

<div class="nav-links">
    <a href="/">Inicio</a>
    <a href="/about/">Sobre mi</a>
    <a href="/blog">Blog</a>
</div>

<style>
    div {
        /* border: 1px solid black; */
        padding: 5px
    }

    a {
        color: black;
        margin-right: 5px;
        padding: 3px;
    }


</style>