

<div transition:animate="fade" class="nav-links">
    <!-- <a href="/">Inicio</a> -->
    <!-- <a href="/about/">Sobre mi</a>
    <a href="/services/">Servicios</a>
    <a href="/blog">Blog</a>
    <a href="/contact">Contacto</a> -->
    <!-- <a data-astro-reload href="/tags">Blog: etiquetas</a> -->
</div>

<style>
    div {
        padding: 5px
    }

    a {
        color: black;
        margin-right: 5px;
        padding: 3px;
    }


</style>