---
import BaseLayout from '../../layouts/BaseLayout.astro';
const images = [
  '/ser-soplando.jpeg',
  '/recibir.jpg',
  '/delfuegolaflor.jpg',
  '/arbol-globos.jpg',
  '/corazon.jpg',
  '/encuentro.jpg',
  '/falling-birds.jpeg',
  '/granado.jpeg',
  '/rocket.jpeg',
  '/union-musical.jpeg',
  '/acuarela.jpg',
  '/conexion.jpg',
  '/compa.jpg',
  '/enmipechopajaros.jpg',
  '/lapiz.jpg',
  '/masacre-de-mi-arbol.jpg',
  '/me-entierro.jpg',
  '/mundos-internos.jpg',
  '/nubeojos.jpg',
  '/perros.jpg',
  '/picaflor.jpg',
  '/arbol-navegante.jpg',
  '/bete-arbol.jpg',
  '/jardin.jpg',
  '/puntitos.jpg',
  '/ser-flauta.jpg',
  '/ser-acuatico.jpg',
  '/ser-jirafa.jpg'
];

const pageTitle = "Drawing artist";
---
<BaseLayout>
    <div class="servicio-header">
        <h1>Este es la página <strong> {pageTitle}</strong></h1>
        <span><a class="text-xs" href="/#servicios">Volver a servicios</a></span>
    </div>
    <div class="container mx-auto p-4">
        <h1 class="text-3xl font-bold mb-6">Galería de Imágenes</h1>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
          {images.map((src) => (
            <div class="overflow-hidden rounded-lg shadow-lg">
              <img src={src} alt="Gallery Image" class="w-full h-full object-cover"/>
            </div>
          ))}
        </div>
      </div>
</BaseLayout>

<style>
    .servicio-header {
        display: flex;
        justify-content: space-between;
        & a {
            text-decoration: underline;
        }
    }
</style>