---
import ViewTransitions from 'astro/components/ViewTransitions.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
import '../../app/globals.css'



const { pageTitle } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
		<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
	</head>
		<ViewTransitions/>
	</head>
	<body>
		<Header/>
		<!-- <h1 transition:animate="slide">{pageTitle}</h1> -->
        <slot/>

		<Footer/>

		<script is:inline src="https://unpkg.com/aos@next/dist/aos.js"></script>
		<script is:inline>
			AOS.init();
		</script>
		<script>
		  import "../scripts/menu.js";
		</script>

	</body>
</html>
